<div  id="Page"><div class="jumbotron" s="">
    <div class="container">

        <h1>{{title}}</h1>
        <h1>Задание для кандидата на должность<br>
            JavaScript-developer</h1>
        <h2>От Вас требуется сделать аналогичный сайт - одностраничное веб-приложение на KnockoutJS или AngularJS.
        </h2>
        <p>
            Сайт должен иметь три раздела: /Info, /Orientation, /Bezier. По умолчанию должна открываться раздел Info.<br>
            Сайт должен быть одностраничным, т.е. html-контент должен подгружаться динамически через Ajax.
        </p>
        <ol>
            <li>
                <strong>Info</strong>
                <p>
                    Просто копия этого раздела.
                </p>
            </li>
            <li>
                <strong>Orientation</strong>
                <p>
                    Дан массив точек на плоскости, образующих замкнутую самонепересекающуюся ломаную линию - многоугольник. Определение ориентации многоугольника - разделение всех многоугольников на два класса - положительноориентированнные ("по часовой") и отрицательноориентированные ("против часовой").
                </p>
                <p>
                    В <a href="/Data/Orientation.json">/Data/Orientation.json</a> находится массив массивов точек. Для каждого из них требуется определить ориентацию и отобразить результат на странице.
                </p>
            </li>
            <li>
                <strong>Bezier</strong>
                <p>
                    По заданным точкам построить гладкую кривую Безье. Кривая должна проходить через все точки и не иметь изломов.
                </p>
                <p>
                    В <a href="/Data/Bezier.json">/Data/Bezier.json</a>  находится массив массивов точек. Для каждого из них требуется построить кривую Безье и отобразить на странице в виде svg-элемента path.
                </p>
            </li>
        </ol>
    </div>
</div>
<div>
</div>
</div>